# Python
  - case sensitive
  - implicit typed language
  - To see documentation of any function use `help(func_name)`

# Variables and Data types

In [9]:
print("Hello Champ.", "How are you.",23,23+17,"23+17")

Hello Champ. How are you. 23 40 23+17

* A variable is a name given to a memory location in a program

In [10]:
name="Ujjwal" # string
age=23  # integer
stock=109.34  # float

**type(varible)** return *datatypes*

In [11]:
print(type(name),type(age),type(stock))

<class 'str'> <class 'int'> <class 'float'>

In [12]:
print(name,age,stock)
print("My name is ",name,". My age is ",age,". My stock is ",stock,".")

Ujjwal 23 109.34
My name is  Ujjwal . My age is  23 . My stock is  109.34 .

* Rules for identifiers
  - combination of *uppercase*, *lowercase*, *digits* and *underscore*
  - can't start with digit
  - can't use special character

* Data types
  - Integers
  - String
  - Float
  - Boolean : **True False**  : Case sensitive
  - None

In [13]:
old=False
a=None
print(type(old),type(a))

<class 'bool'> <class 'NoneType'>

* Keywords : rserved words , can't use as variable name
  `and as assert break class continue def del elif else except finally False for from global if import in lambda nonlocal None not or pass raise return True try with while yield`

* Punctuators : symbols to organise structure in programming `() , {} , @ , [] , # etc`

## Expression Execution

* **Repeatation** : String and numeric values can operate together with `*`

In [14]:
A,B=2,3
txt="@"
print(A*txt,B*txt)
print(A*txt*B)

@@ @@@
@@@@@@

* **Concatination** : String and String can operate with `+`

In [15]:
C="Zs"
D,E="L",2
print((C+txt+D)*E)

Zs@LZs@L

* Numeric values can operate with all arithmetic operators `+ , - , / , % , // , **`

In [16]:
print(A+B*E)

8

In [17]:
print(B**E)

9

* Arithmetic opration with integer and float will results in `float`

In [18]:
a,b=5.1,10
print(a*b)

51.0

* Result of division operator with two integer will be `float`

In [19]:
a,b=1,2
print(a/b)

0.5

* Integer division `//` , with float and int will give `int` displayed as `float`
* `A//B` gives floor value of `A/B` i.e works as `Greatest Integer Function`

In [20]:
a=1.0
print(a//b)
print(a/b)

0.0
0.5

* `Remainder is negative` if we have  `negative denominator`

In [21]:
a=4
b=6
c=-3
d=-7
print(a%b)  # both +ve
print(a%c)  # -ve denominator and +ve numerator
print(d%c)  # both -ve
print(d%a)  # +ve denominator and -ve numerator

4
-2
-1
1

## Comments

* `#` : Single line comment
* `"""  dummy text   """` : multi lines comment : having three double quote at initial and last

## Input
* `input()` default input is string

* string input

In [22]:
name=input("Enter your name : ")
print("Your name is ",name)

Enter your name : Ujjwal
Your name is  Ujjwal

* int input

In [23]:
age=int(input("Enter your age : "))
print("Your age is ",age)

Enter your age : 22
Your age is  22

* float input

In [24]:
frac=float(input("Enter your fraction : "))
print("Your fraction is ",frac)

Enter your fraction : 3.16
Your fraction is  3.16

## Operators
- Airthmetic : `+, -, *, /, %, **`
- Relational : `==, !=, >, <, >=, <=`
- Assignment : `=, +=, -=, *=, /=, %=, **=`
- Logical : `not, and, or` it is also same precedence order, first not then and then or

In [25]:
# airthmetic operators
a,b=5,2
print(a+b,a-b,a*b,a/b,a%b,a**b)

7 3 10 2.5 1 25

In [26]:
# Relational operator, returns boolean
print(a==b,a!=b,a>b,a<b,a>=b,a<=b)

False True True False True False

In [27]:
# Assignment operator
print(a,b)
a+=b
print(a,b)

5 2
7 2

In [28]:
# Logical operator, works on boolean only
print(not True and False or True) # F ^ F v T => F v T => T
print(not True)
print(not(a>b))

True
False
False

## Type conversion
- Automatically converts the datatype

In [29]:
a,b=5.2,3
sum=a+b
print(sum)

8.2

## Type casting
- `int(y[base])` : y to integer with given base. ex- string to decimal have base 10
- `float(y)` : y to floating point number
- `complex(real[imag])` : create complex number
- `str(y)`  : y to a string
- `tuple(y)`: y to a tuple
- `list(y)`: y to a list
- `set(y)` : y to a set
- `dict(y)`: create dictionary and y should be a sequence of (key, value) tuples
- `ord(y)` : character to an integer
- `hex(y)` : integer to hexadecimal string
- `oct(y)` : integer to octal string

In [30]:
a,b="2",3
a=int(a)
print(a+b)

5

## Conditional
- `if elif else`
- `intendation` : proper spacing : `4` space

### Trafic light code

In [31]:
light=input("light colour : ")
if(light=="red"):
    print("stop")
elif(light=="yellow"):
    print("ready")
elif(light=="green"):
    print("go")
else:
    print("wrong colour")

light colour : green
go

### Single line if / Ternary operator

`<var> = <val1> if <condition> else <val2>`

In [32]:
sweet=input("what is your favorite sweet? : ")
result="yes" if(sweet=="rosgulla") else "no"
print(result)

what is your favorite sweet? : gulab jamun
no

if we directly want to print
- `<str1> if <condition1> else <str2>`

In [33]:
print("yes") if(sweet=="rosgulla" or sweet=="rasmadhuri") else print("bad choice")

bad choice

### clever if / Ternary operator
- used to assign value to a variable on given condition in minimum loc
- `<var> = (false_val, true_val) [<condition>]`

In [34]:
age=int(input("Enter your age : "))
height=("tall","short") [age>=18]
print(height)

Enter your age : 22
short

# Strings

In [35]:
# creating string
str1="This is a string "
str2='ujjwalSingh'
str3="""this is also a string"""

if we have multiple way for defining string so that we can use symbol `' "` easily

In [36]:
str3="this is ram's house"
print(str3)

this is ram's house

* Concatination : `+`

In [37]:
str4=str1+str2
print(str4)

This is a string ujjwalSingh

* Length of string : `len(str_name)`
  - it also counts spaces

In [38]:
len1=len(str4)
print(len1)

28

* Indexing
  - only used for accessing
  - can't used for modification

In [39]:
ch=str4[3]
print(ch)

s

* Slicing : Accessing parts of a string
  - `Str[StartingIndex, EndingIndex]`  *EndingIndex is not included*

In [40]:
string="UjjwalSingh"
str1=string[0:6]
print(str1)

Ujjwal

* `Str[ : 4]` is same as `Str[0:4]`
* `Str[1: ]` is same as `Str[1:len(Str)]`
* if we didn't mention the index, it will consider extreme

In [41]:
print(string[:6],string[1:],string[1:len(string)])

Ujjwal jjwalSingh jjwalSingh

In [42]:
# we didn't mention index on both side, so take 0 and len as index as extremes
print(string[:])

UjjwalSingh

* **Negative indexing**
  - starts in reverse direction and indexing starts from `-1`
  - `A   p  p  l  e`
  - `-5 -4 -3 -2 -1`
  - `Str[-4:-1]` will include `-4` but exclude `-1`

In [43]:
string="Apple"
print(string[-4:-1])

ppl

## string functions

* `str.endswith("substr")` returns true if string `ends` with substr

In [44]:
string="i am champ-ujjwal"
print(string.endswith("ujjwal"))
print(string.endswith("ujjwaL"))

True
False

* `str.capitalize()` capitalizes 1st char
  - it doesn't change in original string
  - make changes in original string, we need to store in same string as `str= str.capitalize() `

In [45]:
print(string.capitalize())
print(string)

I am champ-ujjwal
i am champ-ujjwal

In [46]:
string=string.capitalize()
print(string)

I am champ-ujjwal

* `str.replace(old,new)` : replaces `all occurences` of old by new
  - old and new can be character or string or both
  - also doesn't changes in same string

In [47]:
print(string.replace("j","z"))

I am champ-uzzwal

* `str.find(word)` return 1st index of 1st occurance
* return `-1` for unvalid index

In [48]:
print(string.find("champ"))

5

* `str.count("word")` counts the occurance of count of word

In [49]:
print(string)
print(string.count("a"))

I am champ-ujjwal
3

### basic prac

In [50]:
# WAP to input user's name and print its length
name=input("Enter your name : ")
print(len(name))

Enter your name : Ujjwal
6

In [51]:
# WAP to find occurance of $ in a string and its first occurance index
string=input("enter a string : ")
print(string.count("$"))
print(string.find("$"))

enter a string : ufjd dhfjb $hdsbf $hdsf
2
11

# List

* It stores elements of different types (integer, float string etc)
* list are mutable while strings are immutable
* elements can be accesible only within the range  
* Slicing of list is also possible like string, it also allows negative indexing.
* while slicing if we go outof range, still it will print

In [52]:
students = ["Varun", 95.4, 17, "Delhi"]  # making list
print(students)       # print list
print(students[0])    # accesing 0 index
students[0]="Ujjwal"  # changing index 0
print(students)       # print list

['Varun', 95.4, 17, 'Delhi']
Varun
['Ujjwal', 95.4, 17, 'Delhi']

In [53]:
# Slicing of list
print(students[1:3])
print(students[1:])
print(students[:3])
print(students[:])

[95.4, 17]
[95.4, 17, 'Delhi']
['Ujjwal', 95.4, 17]
['Ujjwal', 95.4, 17, 'Delhi']

## Methods of list

* list=[2,1,3]
* `list.append(4)`  adds one element at the end `[2,1,3,4]`
* `list.sort()`     sorts in ascending order `[1,2,3]` , make changes in original list and return `None`
* `list.sort(reverse=True)` sorts in descending order `[3,2,1]`
* `list.reverse()` reverse list `[3,1,2]`
* `list.insert(idx,el)` insert element at index

In [54]:
# creating list
list=[3,1,2]
print(list)

[3, 1, 2]

In [55]:
list.append(4) # append 4
print(list)

[3, 1, 2, 4]

In [56]:
list.sort()  # sorting
print(list)

[1, 2, 3, 4]

In [57]:
list.sort(reverse=True)  # sorting in descending order
print(list)

[4, 3, 2, 1]

In [58]:
list.reverse()  # reversing list
print(list)

[1, 2, 3, 4]

In [59]:
list.insert(1,1.5) # insert element at specific index
print(list)

[1, 1.5, 2, 3, 4]

* list[2,1,3,1]
* `list.remove(1)` remove first occurance of element [2,3,1]
* `list.pop(index)` removes element at index

In [60]:
list=[2,1,3,1]
list.remove(1)
print(list)

[2, 3, 1]

In [61]:
list.pop(1)
print(list)

[2, 1]

# Tuples

* it is quite similar to list but it is immutable, just like strings
* while creation tuple we use `parenthesis()` instead of `square braces[]`

In [62]:
tup=(2,1,3,1)
print(tup)
print(type(tup))

print(tup[1])

(2, 1, 3, 1)
<class 'tuple'>
1

In [63]:
# creating empty typle
tupl=()
print(type(tupl))
print(tupl)

<class 'tuple'>
()

* While creating tuple of one element, it should be end by `comma ,`
* if we didn;t add `comma ,` then considered as simple datatype like int float or string etc
* tuple for more than 1 element then its optional end with `comma ,`

In [64]:
tupl=(1)
print(type(tupl))
print(tupl)

<class 'int'>
1

In [65]:
tupl=(1,)
print(type(tupl))
print(tupl)

<class 'tuple'>
(1,)

In [66]:
tup1=(1,2,3,4)
tup2=(1,3,2,4,)
print(type(tup1),type(tup2))

<class 'tuple'> <class 'tuple'>

* Tuple also supports `slicing` like list and string

In [67]:
print(tup2[1:3])

(3, 2)

### Tuples methods

* tup = (2,1,3,1)
* `tup.index(element)` returns index of first occurance of element
  - `tup.index(1)` 1
* `tup.count(element)` counts total occurance of element
  - `tup.count(1)` 2

In [68]:
tup=(1,2,3,4,1,1)
print(tup.index(2))
print(tup.count(1))

1
3

### practice

* WAP to ask user to enter names of their 3 favorite cricters and store them in list

In [69]:
list=[]
for i in range(3):
    name=input("Enter name of your favorite crickter :")
    list.append(name)
print(list)

Enter name of your favorite crickter :Dale Steyn
Enter name of your favorite crickter :Virat Kohli
Enter name of your favorite crickter :Lasith Malinga
['Dale Steyn', 'Virat Kohli', 'Lasith Malinga']

* WAP to check if a list contains a palindrome of elements

In [70]:
list=[1,2,3,4]
list1=list.copy()  # we used copy function
list1.reverse()
if(list==list1):
    print("palindrome yes")
else:
    print("palindrome no")

palindrome no

In [71]:
help(list.copy)

Help on built-in function copy:

copy() method of builtins.list instance
    Return a shallow copy of the list.

* WAP to count the number of students with the "A" grade in the tuple

In [72]:
tup=("C","D","A","A","B","B","A")
cnt=tup.count("A")
print(cnt)

3

  - Store the above values in a list and sort them from A to D

In [73]:
list1=["C","D","A","A","B","B","A"]
list1.sort()
print(list1)

['A', 'A', 'A', 'B', 'B', 'C', 'D']

# Dictionary

* Used to store data in `key:value` pairs
* they are `unordered`, `mutable` and `don't allow duplicate keys`
* it cantain different datatypes as `values`
* in `key`, we can't use `list and dictionary` as they are mutable in nature.

In [74]:
dict = {
    "name" : "ujjwal",
    "cgpa" : 8.1,
    "subject": ["LO", "ADSA","DL","FOML","Intoduction to japanese"],
    "Course" : "PhD"
}

In [75]:
print(dict)
print(type(dict))

{'name': 'ujjwal', 'cgpa': 8.1, 'subject': ['LO', 'ADSA', 'DL', 'FOML', 'Intoduction to japanese'], 'Course': 'PhD'}
<class 'dict'>

* `dict["key"] = "value"` to assign new key value

In [76]:
dict["dob"]="22-04-2002"
print(dict)

{'name': 'ujjwal', 'cgpa': 8.1, 'subject': ['LO', 'ADSA', 'DL', 'FOML', 'Intoduction to japanese'], 'Course': 'PhD', 'dob': '22-04-2002'}

* To access elements, we use keys  instead of index as they are unoredered
* `dict["key"]`
* we can also create empty dictionary

In [77]:
print(dict["dob"])

22-04-2002

In [78]:
# creating empty dictionary and then adding elements
dict1={}
dict1["name"]="ujjwal"
dict1["cgpa"]=8.1
print(dict1)

{'name': 'ujjwal', 'cgpa': 8.1}

### Nested dictionary

* we will make value as a internal dictionay, thus it works as nested dictionary

In [79]:
student = {
    "name" : "Ujjwal singh",
    "subjects" : {
        "LO" : 74,
        "ADSA" : 69,
        "DL" : 73,
        "FOML":86
    },
    "cgpa" : 8.1
}

* Accesing elements

In [80]:
print(student)
print(student["subjects"])
print(student["subjects"]["FOML"])

{'name': 'Ujjwal singh', 'subjects': {'LO': 74, 'ADSA': 69, 'DL': 73, 'FOML': 86}, 'cgpa': 8.1}
{'LO': 74, 'ADSA': 69, 'DL': 73, 'FOML': 86}
86

### Dictionary methods

* `myDict.keys()` return all keys
* `myDict.values()` returns all values
* `myDict.items()` returns all `(key,val)` pairs as tuples
* `myDict.get("key")` returns the key according to value
* `myDict.update(newDict)` insert the specified items to the dictionary

In [81]:
# printing all keys
print(student.keys())
print(type(student))

dict_keys(['name', 'subjects', 'cgpa'])
<class 'dict'>

In [85]:
# total number of keys
print(len(student.keys()))

3

In [86]:
# printing all values
print(student.values())

dict_values(['Ujjwal singh', {'LO': 74, 'ADSA': 69, 'DL': 73, 'FOML': 86}, 8.1])

In [ ]:
# print all keys and values as tuples
print(student.items())

# we can also typecast them in to list
print(list(student.items()))

# in list we can access its elements by indexing
print(list(student.items())[0])

* to access value we have two ways
  - `myDict.get("key")` return None if key is not valid and program will execute succesfully
  - `myDict["key"]` return error if key is not valid

In [92]:
print(student["name"])
print(student.get("name"))

Ujjwal Singh
Ujjwal Singh

In [93]:
# invalid key
print(student.get("birthplace"))

None

* `myDict.update(newDict)` insert the specified items to the dictionary using `{}`braces

In [94]:
student.update({"birthplace":"Sitamarhi", "actor":"mahesh babu"})
print(student)

{'name': 'Ujjwal Singh', 'subjects': {'LO': 74, 'ADSA': 69, 'DL': 73, 'FOML': 86}, 'cgpa': 8.1, 'birthplace': 'Sitamarhi', 'actor': 'mahesh babu'}

* since in dictionary we have unique keys so, if we add existing key, it will update its value instead of adding new key value pair

In [95]:
student.update({"name":"ujjwal kumar singh"})
print(student)

{'name': 'ujjwal kumar singh', 'subjects': {'LO': 74, 'ADSA': 69, 'DL': 73, 'FOML': 86}, 'cgpa': 8.1, 'birthplace': 'Sitamarhi', 'actor': 'mahesh babu'}

# Set

* set is the collection of `unoredered` items
* each element in the set must be `unique` and `immutable`
* we can't store `list and dictionary` in set because they are mutable in nature
* we initialize it like dictionary as `curly braces {}`

In [96]:
collection = {1,2,3,4,"hello", "world"}
print(collection)
print(type(collection))

{1, 2, 3, 4, 'world', 'hello'}
<class 'set'>

* if we add duplicate items , then it will ignore it and don't give any error

* empty set

In [97]:
# for set
collection = set()
print(type(collection))

# for dictionary
collection = {}
print(type(collection))

<class 'set'>
<class 'dict'>

* `Note` : `sets are mutable but its elements are immutable`

### set methods

* `set.add(el)` adds an element : can pass tuple but `not list and dictionary`
* `set.remove(el)` removes the element
* `set.clear()` empties the set
* `set.pop()` removes a random value

In [98]:
set1 = set()  # creating empty set
set1.add(1)   # adding value 1
set1.add(2)   # adding value 2
set1.add(3)   # adding value 3
set1.add(2)   # adding duplicate value 2, it will be ignored
set1.add(5)   # adding value 5
print(set1)

{1, 2, 3, 5}

In [99]:
set1.remove(5)    # remove elemnent 5
print(set1)

{1, 2, 3}

* if we remove unvalid(non-existing) value, then it will throw error
* `immutable value` also known as `hashable value`

In [100]:
# adding tuple to a set
set1.add((7,8,9))
print(set1)

{1, 2, 3, (7, 8, 9)}

In [101]:
# calculate the length of set
print(len(set1))

4

In [102]:
# emting the set
set1.clear()
print(set1)
print(len(set1))

set()
0

In [103]:
# poping random values
set1 = {"ujjwal",6,1,2,3,4,5}
x=set1.pop()
print(x)
print(set1)

1
{2, 3, 4, 5, 6, 'ujjwal'}

* `set.union(set2)` combines both set and return `new values`
* `set.intersection(set2)` combines common values and returns `new`

In [104]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
print(set1.union(set2))
print(set1.intersection(set2))

# printing existing set
print(set1)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}

### practice problem

*q1. store word meaning in a dictionary
  - table - a piece of furniture , list of facts and figures
  - cat- a small animal

In [105]:
dict={
    "table":["a piece of furniture" , "list of facts and figures"],
    "cat":"a small animal"
}
print(dict)

{'table': ['a piece of furniture', 'list of facts and figures'], 'cat': 'a small animal'}

* q2. you are given a list of subjects for studnets. Assume one classroom is required for 1 subject. how mmany classrooms are needed by all students.
"python","java","C++","python","javascript","java","python","java","C++","C"

In [106]:
# we will create a set and add all subjects then count the length of subjects
subject = {"python","java","C++","python","javascript","java","python","java","C++","C"}
print(subject)
print(len(subject))

{'java', 'C++', 'javascript', 'C', 'python'}
5

* q3. WAP to enter marks of 3 subjects from the user and store them in a dictionary. Start with an empty dictionary and add one by one. Use subject name as key and marks as value

In [107]:
dict={}
sub1=input("Eneter name of first subject : ")
marks1=(input("Enter marks of first subject :"))
sub2=input("Eneter name of second subject : ")
marks2=(input("Enter marks of first subject :"))
sub3=input("Eneter name of third subject : ")
marks3=(input("Enter marks of first subject :"))
dict[sub1]=marks1
dict[sub2]=marks2
dict[sub3]=marks3
print(dict)

Eneter name of first subject : foml
Enter marks of first subject :39
Eneter name of second subject : adsa
Enter marks of first subject :78
Eneter name of third subject : DL
Enter marks of first subject :98
{'foml': '39', 'adsa': '78', 'DL': '98'}

* q4. Figure out a way to store 9 and 9.0 as seperate values in the set.

In [108]:
set1 = set()
set1.add(9)
set1.add(9.0)
print(set1)

{9}

In [109]:
# method 1
# store as a int and string
set1 = set()
set1.add("9")
set1.add(9)
print(set1)

{9, '9'}

In [110]:
# method 2
# insert tuples in a set
set1={
    ("int", 9),
    ("string", "9.0")
}
print(set1)

{('string', '9.0'), ('int', 9)}

# Loops

* loops are used to repeat the instructions
* we have two types of loops
  - while loop
  - for loop

### `while condition:`

In [111]:
# hello champ 5 times
count=0
while (count<5):
    print("hello champ")
    count+=1

hello champ
hello champ
hello champ
hello champ
hello champ

In [112]:
# print from 100 to 1
i=100
while(i>=1):
    print(i)
    i-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [113]:
# print multiplication number for a number and number from user
num=int(input("Enter a number : "))
i=1
while(i<=10):
    print(num*i)
    i+=1

Enter a number : 4
4
8
12
16
20
24
28
32
36
40

In [114]:
# linear search
list=[1,4,9,16,25,36,49,64,81,100]
num=int(input("Enter a number : "))
length=len(list)
i=0;
while(i<length):
    if(list[i]==num):
        print("found")
        break
    i+=1
if(i==length):
    print("not found")

Enter a number : 3
not found

* `break` used to terminate the loop when encountered
* `continue` terminates execution in the current iteration and will execute for upcoming next iterations

### `for loop`

* basically used for sequential traversal. ex- list, string, tuples etc

In [115]:
# traversing a list
list=[1,23,45,12,87]
for i in list:
    print(i)

1
23
45
12
87

In [116]:
# traversing a tuple
tuple=(1,23,45,12,87)
for i in tuple:
    print(i)

1
23
45
12
87

In [117]:
# trversing a string
string = "hii champ! how are you"
for char in string:
    print(char)

h
i
i

c
h
a
m
p
!

h
o
w

a
r
e

y
o
u

* use of `else` : when we want to execute some instruction after completely execution of loop, then we use `else`

In [118]:
list=[1,23,45,12,87]
for i in list:
    print(i)
else:
    print("loop completed")

1
23
45
12
87
loop completed

In [119]:
# here loop will not execute completely, so else condition will not execute
list=[1,23,45,12,87]
for i in list:
    if(i==45):
        break
    print(i)
else:
    print("loop completed")

1
23

### range

* returns a sequence of number, starting from 0 (default) , and increment by 1 (default) and stops before a specified number
* `range(start? , stop , step?)` argument of range where `?` is for optional argument.

In [120]:
range1 = range(5)
print(range1)
print(type(range1))

range(0, 5)
<class 'range'>

In [121]:
for i in range1:
    print(i)

0
1
2
3
4

In [122]:
# start from 1, end at 10-1=9, step size=1
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [123]:
# start =2, terminate = 10, step size =2
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [124]:
# print a number from 10 to 1
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

### pass statement

* pass is a null statement that does nothing. it is used as a placeholder for future code.
* ```
for i in range(10)
      pass
```

```
 for i in range(5):
     
 print(" hello")
```
it will throw an error, because we are doing nothing inside a for loop.
* use:in future we will add instructions inside loop, so till then we write `pass`.
* we can also use `pass` in conditional statement

In [125]:
for i in range(5):
     pass
print(" hello")

 hello

# Functions
* Built-in functions : len, range, print
* user defined functions

```
def func_name(param1, param2...):
    # instructions
    return val
```

In [126]:
# function to find a factorial of a num
def fact(num):
    res=1
    for i in range(1,num+1):
      res*=i
    print("factorial of ", num, "is", res)

fact(5)

factorial of  5 is 120

In [127]:
# function to print elements of list in a single line
def print_list(list):
    for i in list:
        print(i, end=" ")

l1=[1,2,3,4,5]
print_list(l1)

1 2 3 4 5

* if a function is not returning anything then return type : `None`

In [128]:
# seeing a inbuilt function
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

### default arguments
* default arguments always used as a last parameter of a function

In [129]:
# simple function
def cal_prod(a,b):
    print(a*b)

cal_prod(5,4)

20

In [130]:
# default parameter
def cal_prod(a,b=1):
    print(a*b)

cal_prod(5)
cal_prod(5,4)

5
20

In [131]:
# default parameters
def cal_prod(a=1,b=1):
    print(a*b)

cal_prod()
cal_prod(5)
cal_prod(5,4)

1
5
20

# Recursion
* when a function calls itself

In [134]:
# prints n to 1 backwards
def print_rev(n):
    if(n==0):         # base case
        return
    print(n)
    print_rev(n-1)   # recursive case

print_rev(5)

5
4
3
2
1

In [135]:
# recursive function to find factorial of a function
def fact(n):
    if(n==0 or n==1):
        return 1
    return n*fact(n-1)

print(fact(5))

120

# File I/O

* types of files
  - `Text Files` : .txt, .docs, .log, etc(data stored in character form)
  - `Binary Files`: .mp4, .mov, .png etc
* Basic syntax
  - `f = open("file_name","mode")`
* default mode is `read`

In [139]:
# opening the file
f=open("/content/text.txt","r")

# reading the file
data=f.read()
print(data)

# type of data
print(type(data))

# closing the file
f.close()

I am a good boy
working as phd scholar
btw! how are you

<class 'str'>

* `types of mode`

```
'r' - open for reading (default)
'w' - open for writing, truncating the file first
'x' - create a new file and open it for writing
'a' - open for writing, appending to the end of the file if it exists
'b' - binary mode
't' - text mode(default)
'+' - open a disk file for updating(reading and writing)
```

* we can also combine two modes eg. "rt"
* `+`
  - `r+` read and write
  - `w+` write and read
  - `a+` append and read
  - etc....

* `line=f.readline()` used to read one line at a once

In [140]:
f= open("text.txt","r")
print(f.readline())  # print line1
print(f.readline())  # print line2
print(f.readline())  # print line3
f.close()

I am a good boy

working as phd scholar

btw! how are you

* `Note`there is a cursor while reading a file, it `only` go towards left to right and then next line.
* it can't go backward.
* we can't read same line twice as cursor will shift at the end of that line. for that we need to again reopen the file.

### writing a file
* `f=open("file_name","w")`
* `f.write("this is a new written text")` # overwrites the entire file

In [141]:
f=open("text.txt","w")
f.write("I want to become a professor")
f.close()

* now entire text file will replaces by "`I want to become a professor`"

* `f.read(num)` will read only first num characters from the file

In [142]:
f=open("text.txt","r")
print(f.read(5))  # reading first 5 characters from the txt file
f.close()

I wan

### Append the file
* `f=open("file_name","a")`
* `f.write("this is a new appended written text")` # adds to the file at the last

In [143]:
f=open("text.txt","a")
f.write("I want to become a CSE professor")
f.close()

In [144]:
f=open("text.txt","r")
print(f.read())
f.close()

I want to become a professorI want to become a CSE professor

* to append at new line we will use `\n`
* if we don't have existing file then, `append and writing` mode also create a file.

### combination of mode with `+`

* `r+` read and overwrite the file
* `pointer` will be at the begining of the file

In [145]:
f=open("text.txt","r+")
f.write("Hey! people\n")
print(f.read())
f.close()

come a professorI want to become a CSE professor

  - output in text file looks like:
  - while reading the file, we get reading from `come a prof....` because cursor (pointer) will be located just after word people.

![image.png]()

### `w+` : used for reading and writing
* truncate the file and pointer will be at beginning.

In [146]:
f=open("text.txt","w+")
print(f.read()) # we will read empty file as file get truncated
f.write("I am a disco dancer") # writing a file
f.close()


![image.png]()

### `a+` used for append and read
* pointer will be at the end

In [147]:
f=open("text.txt","a+")
print(f.read()) # read nothing, as pointer is at the end
f.write("Atif Aslam is the best") # append at the end
f.close()

![image.png]()

### summarization
* `r+` read and overwrite, pointer at start , no truncate
* `w+` read and overwrite, pointer at begging as file become empty, truncate
* `a+` read and append, pointer at end, no truncate

### opening the file `with` syntax
* bydefault it closes the file, so no need to write `f.close()`

```
with open("file_name","mode_name") as f:
    data=f.read()
```

* reading the file

In [148]:
with open("text.txt","r") as f:
    data=f.read()
    print(data)

I am a disco dancerAtif Aslam is the best

* writing the file

In [149]:
with open("text.txt","w") as f:
    f.write("Virat kohli is the best")

![image.png]()

### deleting a file
* using the `os` module
```
import os
os.remove("file_name")
```

In [150]:
import os
os.remove("text.txt")

* now `text.txt` file remove from directory
* if we give wrong file name, which is not existed, then it will throw an error

### Practice problem

Create a new file "practice.txt" using python. Add the following data in it:
  - Hi everyone
  - we are learning File I/0
  - using Java.
  - I like programming in Java.

WAF that replace all occurrences of "java" with "python" in above file.

Now check whether word `learning` is present in file or not, also find its line number

In [151]:
# creating of file will be done in write mode
with open("practice.txt","w") as f:
    f.write("Hi everyone\n")
    f.write("we are learning File I/0\n")
    f.write("using Java.\n")
    f.write("I like programming in Java.")

![image.png]()

In [152]:
# now we will replace java by python
with open("practice.txt","r") as f:
    data=f.read()  # here file content is stored in data as a  string

#replacing java by python
new_data=data.replace("Java","python")

# overwrite the file
with open("practice.txt","w") as f:
    f.write(new_data)

![image.png]()

In [153]:
# checking for word learning in file
flag=0
line_num=0
with open("practice.txt","r") as f:
    for word in f:  #at once iterate each line
        line_num+=1
        if "learning" in word:
            print(word)
            print("learning exist in file in line number :", line_num)
            flag=1


if(flag==0):
    print("learning does not exist in file")

we are learning File I/0

learning exist in file in line number : 2

* `From a file containing numbers separated by comma, print the count of even numbers`

In [136]:
# creating a file
with open("num.txt","w") as f:
    f.write("1,2,45,233,12,4,98,87,92")

*Approach:
  - initially individual number will be in string
  - parse/casting for int
  - check num is even or not

In [137]:
with open("num.txt","r") as f:
    data=f.read()
    print(data)
# wrting code from scratch
    num=""
    count=0
    for i in range(len(data)):
        if (data[i]==","):
            num=int(num)
            if(num%2==0):
                print(num)
                count+=1
            num=""
        else:
          num+=data[i]

    # Process the last number
    if num:
        num = int(num)
        if num % 2 == 0:
            print(num)
            count += 1
    print("Total even numbers are :",count)

1,2,45,233,12,4,98,87,92
2
12
4
98
92
Total even numbers are : 5

* another approach
  - storing in list and using seperator for that

In [154]:
with open("num.txt","r") as f:
    data=f.read()
    print(data)

    nums=data.split(",")  # storing data in nums on basis of comma seperator
    count=0
    for num in nums:
        if(int(num)%2==0):
            print(num)
            count+=1
    print("Total even numbers are :",count)

1,2,45,233,12,4,98,87,92
2
12
4
98
92
Total even numbers are : 5

# OOP in Pynthon

* To map with real world scenarios, we started using objects in code

* Class is a blueprint for creating objects. Generally class name started by Capital Character.
```
class Students:
    name="John Abraham"
```
* Objects is an instance of class
```
s1=student()
print(s1.name)
```

In [155]:
# creating class
class Student:
    name="Ujjwal"
# Creating object
s1=Student()
print(s1)  # printing object with its location
print(s1.name)

<__main__.Student object at 0x78311061d690>
Ujjwal

In [156]:
# another example of class for car
class Car:
    color="Blue"
    model="Audi A8"
# objects
car1=Car()
print(car1.color)
print(car1.model)

Blue
Audi A8

### Constructor
All classes have a function called `__init__`,which is always executed when the class is being initiated.
```
class Student:
    def __init__(self,fullname):
        self.name=fullname
```
object creation
```
s1 = Student("champ")
print(s1.name)
```
The parameter `self` is a reference to the current instance of class, and is used to access variables that belongs to the class

In [157]:
#  creating class
class Studnet:
    def __init__(self):
        print(self)  # poiniting to the object
        self.name="Ujjwal"
# creating object
s1=Studnet()
print(s1) #printing object
print(s1.name)

<__main__.Studnet object at 0x783120c17b10>
<__main__.Studnet object at 0x783120c17b10>
Ujjwal

* Class for Student having name and marks too

In [158]:
# creating class for student
class Student:
    def __init__(self,name,marks):
        self.name=name
        self.marks=marks
        print("new students added succesfully")
# creating objects
s1 = Student("Ujjwal",98)
print(s1.name)
print(s1.marks)

s2 = Student("Champ",67)
print(s2.name)
print(s2.marks)

new students added succesfully
Ujjwal
98
new students added succesfully
Champ
67

* If a constructor has no parameter except `self` :then it is  `default constructor` otherwise `parameterised constructor`

### Class & Instance Attributes
  - `Class.attr` : common for all objects, take only memory block, declare without `self`, eg. college_name
  - `obj.attr` : distict for all objects, take distinct memory block, declare with `self`, eg. student_name
  - object attribute has high precedence (if we have conflict in nomenclature, then object attribute will be printed)

In [159]:
# Student class
class Student:
    fab_player="Virat Kohli"
    fab_food="Biryani"
    def __init__(self,name,age,city):
        self.name=name
        self.age=age
        self.city=city

In [160]:
# defining object
s1=Student("Ujjwal",20,"Delhi")

# printing object attributes
print(s1.name,s1.age,s1.city)

#printing class attributes
print(s1.fab_player,s1.fab_food)

# another way of printing class attributes
print(Student.fab_player,Student.fab_food)

Ujjwal 20 Delhi
Virat Kohli Biryani
Virat Kohli Biryani

### Methods
- As class is a collection of attributes and methods
- Attributes : properties
- methods - functions
```
def func_name(self):
    print("Hello champ")
```
- all class function has parameters `self` as compulsary

In [161]:
# Student class
class Student:
    fab_player="Virat Kohli"
    fab_food="Biryani"
    def __init__(self,name,age,city):
        self.name=name
        self.age=age
        self.city=city
    def greeting(Self):
        print("Welcome to AMD!")
        print("How can i help you Mr.",Self.name)

# creating object
s1=Student("Ujjwal",23,"Patna")
s1.greeting()

Welcome to AMD!
How can i help you Mr. Ujjwal

* its not compulsary, we use same word `self` in as parameter in both method and constructor and methods.
* But inside that method or constructor use coorosponding parametrised word self.
* here I used `self` in constructor and `Self` in methods.  
* For better practice, to avoid confusion, we can use same parameter self throughout the class

* we can also change value directly of an object attribute

In [162]:
s1.name="BatMan" #Changed name from Ujjwal to BatMan
s1.greeting()

Welcome to AMD!
How can i help you Mr. BatMan

### Static Methods

Methods that don't use self parameter (work at class level)
```
class Student:
    @staticmethod   # decorator
    def collge():
        print("IIT Hyderabad")
```
Decorator takes a function as a input and also returns a function as output,without modifying it permanently.

Usecase: if in a function we don't need any attributes, then there is no use of self . in such cases we use static methods

In [163]:
# Student class
class Student:
    fab_player="Virat Kohli"
    fab_food="Biryani"
    def __init__(self,name,age,city):
        self.name=name
        self.age=age
        self.city=city
    def greeting(Self):
        print("Welcome to AMD!")
        print("How can i help you Mr.",Self.name)

    @staticmethod # compulsary as we r not using self in college method
    def college():
        print("IIT Hyderabad")

# creating object
s1=Student("Ujjwal",23,"Patna")
s1.college()

IIT Hyderabad

### Abstraction
Hiding the implementation details of a class and only showing the essential features to the user

In [164]:
# class for Automatic Car
class Car:
    def __init__(self):
        self.acc=False
        self.brk=False
        self.clutch=False

    def start(self):
        self.acc=True
        self.clutch=True
        print("car started")

# object creation
car1=Car()
car1.start()
# now user can directly start the car without knowing about clutch and accelerator. and seems like automatic car

car started

### Encapsulation
Wrapping data and functions in to a single unit(object)
  - As a class consist of attributes and methods. so each object is instance of class, so it is said as encapsulation.

### `del` keyword : used to delete object properties or object itself

`del object_name`

`del object_name.attribute_name`

In [169]:
class Student:
    def __init__(self,name):
        self.name=name
s1=Student("Ujjwal")
print(s1.name)

Ujjwal

In [170]:
# deleting object
del s1

### private Access modifier
* works inside the class only
* `__attributename` is syntax i.e double underscore in beginning

In [171]:
# class for Bank Account
class BankAccount:
    def __init__(self,name,password):
        self.name=name    # name is public
        self.__passowrd=password  # password is private

    # Corrected indentation: get_password is now a method of the class
    def get_password(self):
        print(self.__passowrd)

s1=BankAccount("Ujjwal","1234")
print(s1.name)
print(s1.get_password()) # Call the get_password method without parentheses

Ujjwal
1234
None

here by creating object, we can access name but not password directly

In [172]:
class Person:
    __name = "Champ" # private attribute

    def __hello(self):  # private function
        print("Hello")

    def welcome(self):  # not private, can be called from outside
        self.__hello()
        print("Welcome to AMD")

p = Person()
print(p.welcome())

Hello
Welcome to AMD
None

### Inheritance
When  one class(child/derived) derives the properties & methods of another class(parent/base)
```
class Car:   # parent class
  ...

class TataCar(Car)  # child class inherit parent
  ....
```

In [173]:
# exapmle, also sigle inheritance example
class Car:
    @staticmethod
    def start():
        print("Car started..")
    @staticmethod
    def stop():
        print("Car stopped..")

class TataCar(Car):     # inherited parent class Car
    def __init__(self,name):
        self.name=name

car1=TataCar("Harrier")
car1.start()      # start is in parent class method
car1.stop()

Car started..
Car stopped..

#### Types of Inheritance

* Single Inheritance : single parent class and single child class

```
class Car:   # parent class
  ...

class TataCar(Car)  # child class inherit parent
  ....
```


* Multiple inheritance : properties are inherently generation by generation. extension of single inheritance

```
class Car:   # parent class
  ...

class TataCar(Car):  # child class inherit parent
  ....

class Nexa(TataCar): # having all properties of TataCar and Car class
    ...
```

* Multiple Inheritance : one child class has multiple parents.

```
class A:    # parent 1 class
    ...
class B:    # parent 2 class
    ...
class C(A,B):  # derived class
    ...
```

### `Super method` :used to acess methods of the parent class
- if we have to access parents class constructor of function or etc, we need to use `super()`

In [174]:
class A:
    def __init__(self):
        print("A constructor")
    @staticmethod
    def start():
        print("hello start")
class B(A):
    def __init__(self,name):
        print("B constructor")
        self.name=name
        print(self.name)

C=B("ujjwal")

B constructor
ujjwal

In [175]:
class A:
    def __init__(self):
        print("A constructor")
    @staticmethod
    def start():
        print("hello start")
class B(A):
    def __init__(self,name):
        print("B constructor")
        self.name=name
        print(self.name)
        super().__init__()  # calling parent class constructor
        super().start()  # calling parent class method

C=B("ujjwal")

B constructor
ujjwal
A constructor
hello start

### **class method** : class method is bound to the class and receives the class as an implicit first argument.
- Note: static method can't acess or modify class state and generally fot utility.

In [176]:
class Person:
    name="anonymous"

    def changeName(self,name):
        self.name=name

p1=Person()
print(p1.name)
p1.changeName("Ujjwal")  # only change the instance, not changing the class attribute name
print(p1.name)

anonymous
Ujjwal

In [177]:
print(Person.name)   # class attribute didn't change

anonymous

* ways to change, class attribute
1. ```
    def changeName(self,name):
        Person.name=name
```

2. ```
    def changeName(self,name):
        self.__class__.name=name
```

3. ```
    @classmethod
    def changeName(cls,name):       # cls 'class' default argument
        cls.name=name
```

### we use **@property** decorator on any method in the class to use the method as a property

In [178]:
class Student:
    def __init__(self,phy,chem,math):
        self.phy=phy
        self.chem=chem
        self.math=math
        self.totalInclass=self.phy+self.chem+self.math

    @property
    def total(self):    # total will act as attribute, not as a function
        return self.phy+self.chem+self.math

In [179]:
Satyabh=Student(100,80,90)
print(Satyabh.total)
print(Satyabh.totalInclass)

270
270

In [180]:
# now we will update the value of phy from 100 to 50
Satyabh.phy=50
print(Satyabh.total)    # will be automatically updated
print(Satyabh.totalInclass)  # will remain same as it was earlier

220
270

### **Polymorphism**- **Operator overloading** : When the same operator is allowed to have different meaning according to the context

In [181]:
# Operator overloading i.e implicit overloading i.e default in python
print(1+2)   # summation
print("Ujjwal"+" Singh") #concatination
print([1,2,3]+[4,5,6])  # merging

3
Ujjwal Singh
[1, 2, 3, 4, 5, 6]

In [182]:
class Complex:
    def __init__(self,real,img):
        self.real=real
        self.img=img
    def showNumber(self):
        print(self.real,"i +",self.img,"j")

    # creating dunder function
    def __add__(self,num2):
        r=self.real+num2.real
        i=self.img+num2.img
        return Complex(r,i)

    # creating dunder function for subtraction
    def __sub__(self,num2):
        r=self.real-num2.real
        i=self.img-num2.img
        return Complex(r,i)

num1=Complex(1,2)
num2=Complex(3,4)
num1.showNumber()
num2.showNumber()

1 i + 2 j
3 i + 4 j

In [184]:
num3=num1+num2
num3.showNumber()

4 i + 6 j

In [183]:
num4=num1-num2
num4.showNumber()

-2 i + -2 j

Question: define a Circle Class to create a circle with radius r using the constructor. Define an Area() method of the class which calculates the area of the circle. Define a perimeter() method of the class which allows you to calculate the perimeter of the circle

In [185]:
class Circle:
    def __init__(self,r):
        self.r=r
        print("Radius is ",r)
    def Area(self):
        print("Area is ",3.14*self.r*self.r)
    def Perimeter(self):
        print("Perimeter is ",2*3.14*self.r)
c1=Circle(7)
print(c1.Area())
print(c1.Perimeter())

Radius is  7
Area is  153.86
None
Perimeter is  43.96
None

Question: Create a class Order which stores items and its price.
use Dunder function __gt__() to convey that:
orer1>order2 if price of order1 > order2

In [ ]:
class Order:
    def __init__(self,item,price):
        self.item=item
        self.price=price

    def __gt__(self,order2):
        if(self.price>order2.price):
            print("order1 > order2")
        else:
            print("order1 < order2")

ord1=Order("strawberry",30)
ord2=Order("mango",50)
ord1>ord2

* Completed some basics revision of python
  - Variabes and Datatypes
  - Strings
  - Conditional statements
  - Loop
  - functions
  - recursion
  - list
  - set
  - dictionary
  - etc....