### Part -1 ###

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.0'

## Pandas Series with Python Lists ##

In [3]:
lst = [1,2,3,4,5,6]
print(lst)

[1, 2, 3, 4, 5, 6]

In [4]:
series = pd.Series(lst)
print(series)
print(type(series))

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
<class 'pandas.core.series.Series'>

In [5]:
empty = pd.Series([])
empty

Series([], dtype: object)

In [6]:
a = pd.Series(['p','q','r','s','t'], index = [10,11,12,13,14])
a

10    p
11    q
12    r
13    s
14    t
dtype: object

In [7]:
b = pd.Series(['p','q','r','s','t'], index = [10,11,12,13,14], name = 'alphabets')
b

10    p
11    q
12    r
13    s
14    t
Name: alphabets, dtype: object

In [8]:
scalar_series = pd.Series(0.5)
scalar_series

0    0.5
dtype: float64

In [9]:
scalar_series = pd.Series(0.5, index = [1,2,3])
scalar_series

1    0.5
2    0.5
3    0.5
dtype: float64

## Pandas Series with Python Dictionary ##

In [10]:
dict_series = pd.Series({'p':1, 'q':2, 'r':3, 's':4, 't':5})
dict_series

p    1
q    2
r    3
s    4
t    5
dtype: int64

In [13]:
dict_series[0]

C:\Users\91628\AppData\Local\Temp\ipykernel_3472\1198263229.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dict_series[0]

1

In [12]:
dict_series[0:3]

p    1
q    2
r    3
dtype: int64

In [14]:
max(dict_series)

5

In [15]:
dict_series = pd.Series({'p':[1,5,6], 'q':[2,6,7], 'r':[3,9,0], 's':[4,4,5], 't':[5,1,2]})
dict_series

p    [1, 5, 6]
q    [2, 6, 7]
r    [3, 9, 0]
s    [4, 4, 5]
t    [5, 1, 2]
dtype: object

 ## Part -2  : Pandas DataFrame ##

In [16]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

## DataFrame Using List ##

In [17]:
lst = [1,2,3,4,5]
df = pd.DataFrame(lst)
df

   0
0  1
1  2
2  3
3  4
4  5

In [18]:
lst = [[1,2,3,4,5], [11,12,13,14,15]]
df = pd.DataFrame(lst)
df

    0   1   2   3   4
0   1   2   3   4   5
1  11  12  13  14  15

In [19]:
a = [{'a':5, 'b':7, 'c':9, 'd':2}, 
     {'a':4, 'b':8, 'c':19, 'd':12}]        # Dictionary Keys represents Column names

df = pd.DataFrame(a)
df

   a  b   c   d
0  5  7   9   2
1  4  8  19  12

In [20]:
b = {'RollNo.':pd.Series([1,2,3,4,5]), 
    'Maths':pd.Series([67,89,23,90,56]), 
    'Physics':pd.Series([12,98,44,90,78])}      

df = pd.DataFrame(b)
df

   RollNo.  Maths  Physics
0        1     67       12
1        2     89       98
2        3     23       44
3        4     90       90
4        5     56       78

## Reading CSV (Common Separated Values) as DataFrames ##

In [26]:
df = pd.read_csv(r"C:\Users\91628\OneDrive\Documents\IITH Acad\8th sem\jupyetrProject\Salary_Data.csv")
df

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [27]:
type(df)

pandas.core.frame.DataFrame

### Part -3 ###